params {
    // Project Paths
    base_dir     = "${projectDir}/.."
    samplesheet  = "${params.base_dir}/config/samplesheet.csv"
    
    // Reference Files
    genome_fasta = "${params.base_dir}/data/reference/GRCh38.primary_assembly.genome.fa"
    genome_gtf   = "${params.base_dir}/data/reference/gencode.v46.annotation.gtf"
    
    // Output
    outdir       = "${params.base_dir}/results"
}

process {
    container = 'rna-seq-pipeline:v1'
    // Resource allocation (adjust based on your EC2 instance size)
    cpus   = 4
    memory = '16 GB'
}

docker {
    enabled = true
    autoMounts = true
}