params {
    // Project Paths
    base_dir     = "${launchDir}"
    samplesheet  = "${params.base_dir}/workflow/config/samplesheet.csv"
    
    // Reference Files
    genome_fasta = "${params.base_dir}/data/reference/GRCh38.primary_assembly.genome.fa"
    genome_gtf   = "${params.base_dir}/data/reference/gencode.v46.annotation.gtf"
    transcriptome = "${params.base_dir}/data/reference/gencode.v46.transcripts.fa"
    
    // Output
    outdir       = "${params.base_dir}/results"
    
    // Workflow Control
    run_star     = false  // Set to true to run STAR alignment (memory intensive)
}

process {
    container = 'rna-seq-pipeline:v1'
    cpus   = 8
    memory = '32 GB'
}

docker {
    enabled = true
    autoMounts = true
    runOptions = "-u \$(id -u):\$(id -g)"
}
